@charset "UTF-8";
/*+++++++++++++++++++++ GLOBAL STYLES +++++++++++++++++++++*/
html {
  font-size: 1em;
  line-height: 1.4; 

  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;

  height: 1px;
  margin: 1em 0;
  padding: 0; 

  border: 0;
  border-top: 1px solid #ccc;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0; 

  border: 0;
}

textarea {
  resize: vertical;
}

/*==========Browser Upgrade Prompt==========*/
.browserupgrade {
  margin: .2em 0;
  padding: .2em 0; 

  color: #000;
  background: #ccc;
}

/*==========Helper classes==========*/
.hidden {
  display: none !important;
}

.visuallyhidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px; 
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;

  overflow: visible;
  clip: auto;

  width: auto; 
  height: auto;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  display: table; 

  content: " ";
}

.clearfix:after {
  clear: both;
}

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*+++++++++++++++++++++++++++ OTHER STYLES ++++++++++++++++++++++++++*/
html,
body {
  height: 100%;
}

.wrapper {
  display: table;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.content {
  display: table-row;

  height: 100%;
}

body {
  font-family: open_sansregular, sans-serif;
}

/*==================   HEADER   ===================*/
.center {
  line-height: 90px; 

  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 34px;
  padding: 0 10px;

  border-bottom: 7px solid #fff; 
  background: url(../img/hd-bg.jpg) repeat-x;
}

.main-header__left {
  float: left;

  width: 95px;
}

.main-header__right {
  float: right;

  max-width: 250px;
}

.main-header__logo {
  display: block;
  overflow: hidden;
}

.menu-social {
  font-size: 0;

  margin: 0;
  margin-right: 9px; 
  padding: 0;

  list-style-type: none;
}
.menu-social__li {
  font-size: 0;

  display: inline-block;

  margin-left: 13px; 

  vertical-align: middle;
}
.menu-social__btn {
  display: block;

  width: 38px;
  height: 40px; 

  background: url(../img/sprite.png) -215px 0 no-repeat;
}
.menu-social__fb {
  background-position: -16px -70px;
}
.menu-social__fb:hover {
  background-position: -64px -70px;
}
.menu-social__vk {
  background-position: -84px -216px;
}
.menu-social__vk:hover {
  background-position: -132px -216px;
}
.menu-social__tw {
  background-position: -214px -166px;
}
.menu-social__tw:hover {
  background-position: -36px -216px;
}
.menu-social__gh {
  background-position: -5px -135px;
}
.menu-social__gh:hover {
  background-position: -53px -135px;
}

/*========== Main ==========*/
.main {
  margin-left: -20px;
}

.center2 {
  width: 960px;
  margin: 0 auto;
}

.nav {
  float: left;

  width: 250px;
}

.main-inf {
  float: right;

  width: 650px;
}

/*========== Main Navigation ==========*/
/*++++++++++ Menu ++++++++++*/
.main-menu {
  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  margin-bottom: 35px; 
  padding: 0;

  list-style-type: none;

  border: 1px solid #b8b8b8;
  border-radius: 5px;
  box-shadow: 0 2px 3px -1px #b8b8b8;
}
.main-menu__item {
  font-family: open_sanssemibold, sans-serif;
  font-size: 20px;
  line-height: 1.1;

  display: block;

  padding: 17px 0 17px 29px;

  text-decoration: none;

  color: #727070;
  background-color: #f1efee;
  background-image: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, white 100%);
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, .07), inset 0 -2px 3px 0 rgba(41, 41, 41, .05);
}
.main-menu__item:hover {
  background-image: linear-gradient(to bottom, #c2c0c0 0%, #e3e1e1 87%, #e6e4e4 90%, #e8e7e7 100%);
}
.main-menu__item--active {
  color: #1e7465; 
  background-color: #5fd1b5;
  background-image: linear-gradient(to top, #3eb799 0%, #7ee8ce 100%);
}
.main-menu__item--active:hover {
  color: #1e7465; 
  background-image: linear-gradient(to top, #3eb799 0%, #7ee8ce 100%);
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, .16), inset 0 1px 0 0 rgba(255, 255, 255, .3);
}

/*++++++++++ Contacts ++++++++++*/
.contacts {
  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;

  border: 1px solid #d4d3d1;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 3px -1px #b8b8b8;
}
.contacts__title {
  font-family: open_sanssemibold, sans-serif;
  font-size: 20px;
  line-height: 1.1;

  overflow: hidden;
  overflow: hidden;

  padding: 8px 10px 8px 28px;
  padding-right: 10px;

  word-wrap: break-word;

  color: #d0982c;
  border: 1px solid #cba14e;
  border-radius: 7px 7px 0 0; 
  background-color: #eac171;
  background-image: linear-gradient(to top, #dcb15d 0%, #f4cc7e 90%);
  text-shadow: 0 1px 0 #efd6a4;
}
.contacts__descr {
  font-family: open_sansregular, sans-serif; 
  font-size: 14px;

  position: relative;

  display: block;
  overflow: hidden;

  padding: 8px 10px 8px 97px;

  text-decoration: none;
  text-overflow: ellipsis;

  color: #727070;
}
.contacts__descr:before {
  position: absolute;
  top: 50%;
  left: 18px; 

  display: block;

  width: 40px;
  height: 40px;
  margin-top: -20px;

  content: "";
}
.contacts__descr:hover {
  text-decoration: underline;

  background-color: #f6edde;
  background-image: linear-gradient(to bottom, #fff 0%, #fbf9f3 50%, #f2e7d0 100%);
}
.contacts__mail {
  border: 1px solid #d6d5d3;
  border-bottom: none;
  background-color: #fdfcfc;
  background-image: linear-gradient(to bottom, #fff 0%, #f7f6f6 100%);
}
.contacts__mail:before {
  content: "";

  background: url(../img/sprite.png) -101px -135px no-repeat;
}
.contacts__tel {
  border: 1px solid #d6d5d3;
  border-bottom: none;
  background-color: #fdfcfc;
  background-image: linear-gradient(to bottom, #fff 0%, #f7f6f6 100%);
}
.contacts__tel:before {
  content: "";

  background: url(../img/sprite.png) -230px -118px no-repeat;
}
.contacts__skype {
  border: 1px solid #d6d5d3;
  border-bottom: none;
  border-radius: 0 0 4px 4px;
  background-color: #fdfcfc;
  background-image: linear-gradient(to bottom, #fff 0%, #f7f6f6 100%);
}
.contacts__skype:before {
  content: "";

  background: url(../img/sprite.png) -230px -70px no-repeat;
}

/*============ Main-inf section ============*/
/*++++++++++ Info Section ++++++++++*/
.main-inf {
  margin-bottom: 35px;
}

.main__section {
  overflow: hidden;

  min-width: 650px;

  border: 1px solid #b8b8b8;
  border-radius: 5px;
  background-color: #f7f6f5;
  background-image: linear-gradient(to bottom, #f7f6f5 0%, #f0eeed 100%);
}

.main__title {
  font-family: open_sanssemibold, sans-serif;
  font-size: 24px;
  line-height: .91;

  margin: 0; 
  margin-bottom: 38px;
  padding: 16px 0 17px 43px;

  color: #eeedec;
  border-bottom: 1px solid #636363;
  background-color: #929090;
  background-image: linear-gradient(to bottom, #a9a7a7 0%, #7b7979 100%);
  text-shadow: 1px 0 1px #666565,  -1px 0 1px #666565,  0 1px 1px #666565;
}

.info {
  margin-bottom: 35px;
}
.info__foto {
  float: left;
  overflow: hidden;

  box-sizing: border-box;
  width: 226px;
  padding-top: 5px;
  padding-bottom: 5px; 
  padding-left: 40px;
}
.info__foto img {
  border: 10px solid #f5f4f3;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #d8d6d5,  1px -1px 0 0 #d8d6d5,  -1px 1px 0 0 #d8d6d5,  -1px -1px 0 0 #d8d6d5;
}
.info__text {
  float: right;

  width: 420px;
}

.description {
  font-size: 14px;
  line-height: 1;

  margin: 0;
  padding: 0;

  list-style-type: none;

  color: #727070;
}
.description__item {
  font-family: open_sansregular, sans-serif; 

  margin-bottom: 11px;
}
.description__spec {
  margin-bottom: 20px;
}
.description__skill {
  margin-bottom: 14px;
}
.description__image {
  position: relative;
  top: -15px;
  left: 145px;

  width: 235px; 
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.description__li {
  font-family: open_sanssemibold, sans-serif; 

  display: inline-block;

  margin-bottom: 6px;

  vertical-align: middle;
}
.description__li:before {
  display: inline-block;

  width: 10px;
  height: 20px; 

  content: "";
  vertical-align: middle;

  background: url(../img/sprite.png) -22px -5px no-repeat;
}
.description__li:after {
  position: relative;
  left: -2px; 

  display: inline-block;

  width: 9px;
  height: 20px;

  content: "";
  vertical-align: middle;

  background: url(../img/sprite.png) -5px -5px no-repeat;
}
.description__span {
  font-family: open_sansbold, sans-serif;
  font-size: 9px;
  line-height: 1.6866;

  display: inline-block;

  padding-top: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;

  vertical-align: top;
  text-transform: uppercase;

  color: #1e7465;
  background: url(../img/center.png) repeat-x; 
  text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
}

.for-me {
  font-family: open_sanssemibold, sans-serif;

  margin-right: 5px;
}

/*+++++++++ Experience Section +++++++++*/
.exp {
  margin-bottom: 39px;
}
.exp__title {
  margin-bottom: 5px;
}
.exp__descr {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.job {
  font-size: 14px;

  position: relative;

  margin: 0 40px 0 40px;
  padding: 27px 0;
  padding-left: 95px; 

  color: #727070;
  border-top: 1px solid #edeceb;
  border-bottom: 1px solid #dbdbda;
}
.job:before {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 17px;

  display: block;

  width: 21px;
  height: 19px;
  margin-top: -4px;

  content: "";

  background: url(../img/sprite.png) -145px -5px no-repeat;
}
.job:after {
  position: absolute;
  top: 50%;
  left: 0;

  width: 55px;
  height: 55px;
  margin-top: -22.5px; 

  content: "";

  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: -1px -1px 1px #cfcfcf;
}
.job__des {
  font-family: open_sanssemibold, sans-serif; 
  line-height: 1.5;

  display: inline-block;
}
.job__date {
  display: inline-block;
}
.job:first-child {
  border-top: none;
}
.job:last-child {
  border-bottom: none;
}

/*++++++++++ Education Section ++++++++++*/
.edu__title {
  margin-bottom: 5px;
}

.edu-work {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  list-style-type: none;

  color: #727070;
}
.edu-work__edu1:before {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 18px;

  width: 21px;
  height: 21px;
  margin-top: -6px;

  content: "";

  background: url(../img/sprite.png) -5px -200px no-repeat;
}
.edu-work__edu2:before {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 14px;

  width: 27px;
  height: 18px;
  margin-top: -4px;

  content: "";

  background: url(../img/sprite.png) -45px -5px no-repeat;
}
.edu-work__loftschool:before {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 20px;

  width: 15px;
  height: 20px;
  margin-top: -4px;

  content: "";

  background: url(../img/sprite.png) -112px -70px no-repeat;
}

.learn {
  font-size: 14px;

  position: relative;

  margin: 0 40px 0 40px;
  padding: 27px 0;
  padding-left: 95px; 

  border-top: 1px solid #edeceb;
  border-bottom: 1px solid #dbdbda;
}
.learn:after {
  position: absolute;
  top: 50%;
  left: 0;

  width: 55px;
  height: 55px;
  margin-top: -22.5px; 

  content: "";

  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: -1px -1px 1px #cfcfcf;
}
.learn__des {
  font-family: open_sanssemibold, sans-serif; 
  line-height: 1.5;

  display: block;
}
.learn__date {
  display: block;
}
.learn:first-child {
  border-top: none;
}
.learn:last-child {
  border-bottom: none;
}

/*========== Footer ==========*/
.footer {
  min-width: 100%;

  background-color: #f7f6f5;
  background-image: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
}

.center3 {
  min-width: 640px;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px 0;
}

.exit {
  display: inline-block;
}
.exit__link {
  font-family: open_sansbold, serif;
  font-size: 14px;

  position: relative;

  display: inline-block;

  padding-left: 25px; 

  text-decoration: none;
  text-transform: lowercase;

  color: #9c9c9c;
}
.exit__link:before {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 18px;
  height: 21px;
  margin-top: -9px; 

  content: "";

  background: url(../img/sprite.png) -200px -70px no-repeat;
}
.exit__link:hover:before {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 18px;
  height: 21px;
  margin-top: -9px; 

  content: "";

  background: url(../img/sprite.png) -262px -166px no-repeat;
}

.copy {
  font-family: open_sanslight, serif;
  font-size: 12px;

  display: inline-block;

  padding-left: 60px;

  letter-spacing: .1px;
}

/*========== Mywork ==========*/
.mywork {
  font-size: 0; 

  margin: 0 10px 50px 40px;
  padding: 0;

  list-style-type: none;
}
.mywork__pic {
  position: relative;

  display: block;
}
.mywork__pic:before {
  position: absolute;
  top: 0;
  left: 0; 

  display: block;

  width: 100%;
  height: 100%;

  content: "";
}
.mywork__pic:hover:before {
  background: rgba(111, 109, 109, .7);
}
.mywork__pic:after {
  content: "";
  transition: opacity 2s;

  opacity: 0;
}
.mywork__pic:hover:after {
  font-family: open_sanssemibold, sans-serif;
  font-size: 16px;
  line-height: 1;

  position: absolute;
  top: 50%;

  display: block;

  width: 158px;
  margin: 0 auto;
  margin-top: -13px;
  padding: 5px 0;

  content: "Подробнее";
  text-align: center;

  opacity: 1; 
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}
.mywork__block {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: 165px;
  margin-top: 30px; 
  margin-right: 35px;

  vertical-align: top;

  border: 1px solid #b6b6b6;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(9, 9, 9, .1);
}
.mywork__title {
  font-family: open_sanssemibold, sans-serif;
  font-size: 13.35px;
  line-height: 1.69;

  margin: 0;
  padding: 8px 0;

  text-align: center;

  color: #727070; 
  background: rgba(111, 109, 109, .1);
}
.mywork__descr {
  font-family: open_sanslight, sans-serif;
  font-size: 12px;
  line-height: 1.33;

  margin-top: 5px;
  padding: 0;

  text-align: center;

  color: #727070;
}

.work-title {
  margin-bottom: 8px;
}

.add-project {
  font-family: open_sanssemibold, sans-serif;
  font-size: 14px;
  line-height: 22px;

  position: relative; 

  display: inline-block;

  width: 165px;
  padding-bottom: 25px;

  text-align: center;
  text-decoration: none;

  color: #727070;
}
.add-project:hover {
  color: #fff; 
  background: rgba(111, 109, 109, .4);
}
.add-project:before {
  display: block;

  width: 55px;
  height: 55px;
  margin: 25px auto 10px auto; 

  content: "";

  border-radius: 50%;
  box-shadow: -1px -1px 1px #cfcfcf;
}
.add-project:after {
  position: absolute;
  top: 31%; 
  left: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  content: "";

  background: #f7f7f7 url(../img/sprite.png) -200px -101px no-repeat;
}

/*=========== Forms ===========*/
.form-title {
  margin-bottom: 20px;
}

.forms {
  font-family: open_sansregular, serif;
  font-size: 14px;

  width: 400px; 
  margin: 0 auto;
}
.forms__name {
  float: left;

  width: 190px;
}
.forms__email {
  float: right;

  width: 190px;
}
.forms__label {
  font-size: 14px;

  display: block; 

  padding: 10px 0;

  color: #727070;
  text-shadow: -1px 0 1px #c0bfbf;
}
.forms__placeholder::-webkit-input-placeholder {
  font-family: open_sanslight, sans-serif; 
  font-size: 13px;
}
.forms__placeholder::-moz-placeholder {
  font-family: open_sanslight, sans-serif; 
  font-size: 13px;
}
.forms__placeholder:-moz-placeholder {
  font-family: open_sanslight, sans-serif; 
  font-size: 13px;
}
.forms__placeholder:-ms-input-placeholder {
  font-family: open_sanslight, sans-serif; 
  font-size: 13px;
}
.forms__input {
  font-size: 13px;

  width: 180px;
  padding: 10px 10px 10px 10px;

  color: #888;
  border: 1px solid #d6d5d3;
  border-radius: 5px;
  outline: none; 
  background: #fafbfc;
}
.forms__textarea {
  overflow: auto;

  width: 390px;
  height: 170px;
  margin-bottom: 30px; 
  padding-bottom: 0;

  resize: none;
}
.forms__captcha {
  line-height: 60px;

  width: 400px;
  height: 60px;
  margin-bottom: 40px; 

  text-align: center;

  border-radius: 5px;
  background: #fafbfc;
}
.forms__submit {
  margin-right: 98px;

  color: #1d7465; 
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  background-color: #61cfb0;
  background-image: linear-gradient(to top, #43b796 0%, #80e8cb 100%);
  box-shadow: 0 2px 1px rgba(9, 9, 9, .16), inset 0 1px 0 rgba(255, 255, 255, .3);
  text-shadow: .5px .9px 0 rgba(255, 255, 255, .75);
}
.forms__submit:hover {
  color: #1e7465; 
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  background-color: #4cbda1;
  background-image: linear-gradient(to top, #3aa087 0%, #5fdcbd 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
  text-shadow: .5px .9px 0 rgba(255, 255, 255, .75);
}
.forms__submit:active {
  color: #eeedec; 
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  background-color: #34927b;
  background-image: linear-gradient(to top, #257662 0%, #4bbca1 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
  text-shadow: .5px .9px 0 #666565;
}
.forms__reset {
  color: #737170; 
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  background-color: #f4f2f2;
  background-image: linear-gradient(to top, #e9e6e4 0%, #fbf9f9 94%, #fff 100%);
  box-shadow: 0 2px 1px rgba(9, 9, 9, .07), inset 0 -2px 3px rgba(41, 41, 41, .05), inset 0 0 3px #f6f7f7;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .75);
}
.forms__reset:hover {
  color: #737170; 
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  background-color: #d7d5d5;
  background-image: linear-gradient(to top, #c2c0c0 0%, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7 100%);
  box-shadow: inset 0 -2px 1px rgba(41, 41, 41, .04), inset 0 0 3px rgba(202, 202, 202, .61);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .75);
}
.forms__reset:active {
  color: #eeedec; 
  border: 1px solid #c5c4c4;
  border-radius: 5px;
  background-color: #8f8b8b;
  background-image: linear-gradient(to top, #7d7979 0%, #7d7979 0%, #aba9a9 100%);
  box-shadow: 0 2px 1px rgba(3, 4, 4, .22), inset 0 1px 0 rgba(255, 255, 255, .3);
  text-shadow: .5px .9px 0 #666565;
}

.button {
  margin-bottom: 50px;

  text-align: center;
}
.button__general {
  font-family: open_sanssemibold, serif;
  font-size: 14px;
  line-height: 22px; 

  padding: 8px 23px;

  outline: none;
}
.button__general:focus {
  border: 1px dotted #000;
}
