.popup {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;

  width: 320px;
  margin: 0 auto;
  margin-top: -230px;
  padding: 10px 22px 30px 20px;

  border-radius: 5px;
  background: #fbfaf9;
  background-image: linear-gradient(
  to bottom,
  #fbfaf9 0%,
  #f0eeed 100%);
  &:before {
    font-family: "open_sanslight", serif;
    font-size: 12px;

    position: absolute;
    top: -20px;

    display: block;

    content: "Добавление проекта";

    color: #e1e0df;
  }
  &__general {
    display: block;
  }
  &__close {
    position: absolute;
    top: 7px;
    right: 7px;

    display: block;

    width: 14px;
    height: 14px;

    cursor: pointer;
    text-indent: -9999px;

    background: url(../img/close.png) 0 0 no-repeat;
  }
  &__label {
    font-family: "open_sansregular", serif;
    font-size: 14px;

    padding: 9px 0;

    color: #848282;
    position: relative;
  }
  &__input {
    font-family: "open_sanslight", serif;
    font-size: 12px;

    width: 300px;
    padding: 10px 10px;

    color: #848270;
    border: 1px solid #d6d5d3;
    border-radius: 3px;
    outline: none;
    background: #fbfcfd;
  }
  &__textarea {
    overflow: auto;

    height: 88px;
    margin-bottom: 13px;

    resize: none;
  }
  &__button {
    font-family: open_sanssemibold, serif;
    font-size: 14px;
    line-height: 22px;

    display: block;

    margin: 0 auto;
    padding: 8px 25px;

    outline: none;
    &:focus {
      border: 1px dotted #000;
    }
  }
  &__submit {
    color: #1d7465;
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    background-color: #61cfb0;
    background-image: linear-gradient(
    to top,
    #43b796 0%,
    #80e8cb 100%);
    box-shadow: 0 2px 1px rgba(9, 9, 9, .16),
    inset 0 1px 0 rgba(255, 255, 255, .3);
    text-shadow: .5px .9px 0 rgba(255, 255, 255, .75);
    &:hover {
      color: #1e7465;
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      background-color: #4cbda1;
      background-image: linear-gradient(
      to top,
      #3aa087 0%,
      #5fdcbd 100%);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      text-shadow: .5px .9px 0 rgba(255, 255, 255, .75);
    }
    &:active {
      color: #eeedec;
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      background-color: #34927b;
      background-image: linear-gradient(to top,
      #257662 0%,
      #4bbca1 100%);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
      text-shadow: .5px .9px 0 #666565;
    }
  }
  &__title {
    position: absolute;
    top: -45px;
    left: 20px;

    color: #000;
  }
  &__name-project{
    position: absolute;
    left: -117px;
    top: 57px;
    font-size: 12px;
    background: #f2a085;
    padding: 4px 6px;
    font-family: "open_sanssemibold", serif;
    color: #7e2100;
    border-radius: 5px 3px 3px 5px;
    &:after{
      content: "";
      border: 8px solid transparent;
      border-left: 8px solid #f2a085;
      position: absolute;
      right: -15px;
      bottom: 5px;
    }
  }
}

.downpic {
  font-family: "open_sansregular", serif;
  font-size: 14px;

  padding: 10px 0 0 0;

  color: #848282;
  &__label {
    font-family: "open_sanslight", serif;
    font-size: 12px;

    position: relative;

    width: 320px;
    margin: 10px 0 0 0;
    padding: 0;

    cursor: pointer;

    color: #848270;
    border-radius: 3px;
    outline: none;
    background: #fbfcfd;
  }
  &__descr {
    display: block;
    float: left;

    width: 241px;
    padding: 10px 10px;

    border: 1px solid #d6d5d3;
    border-right: none;
    border-radius: 3px 0 0 3px;
  }
  &__pic {
    display: inline-block;
    float: right;

    width: 55px;
    height: 16px;
    padding: 10px 0;

    border: 1px solid #d6d5d3;
    border-radius: 0 3px 3px 0;
    background: #f8f6f6 url("../img/iCloud.png") 50% 50% no-repeat;
  }
  &__input {
    font-family: "open_sanslight", serif;
    font-size: 12px;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 300px;
    padding: 10px 10px;

    opacity: 0;
  }
}
.popup-wrapper {
  position: fixed;
  top: 0;

  display: table;
  overflow: hidden;

  width: 100%;
  min-height: 100%;

  background-color: rgba(0,0,0,.6);
}

.popup-hide {
  display: none;
}
