/*=========== Forms ===========*/

.form-title{
  margin-bottom: 20px;
}
.forms{
  font-family: open_sansregular, serif;
  font-size: 14px;
  margin: 0 auto;
  width: 400px;
  &__name{
    float: left;
    width: 190px;
  }
  &__email{
    float: right;
    width: 190px;
  }
  &__label{
    font-size: 14px;
    color: #727070;
    text-shadow:-1px 0 1px #c0bfbf;
    padding: 10px 0;
    display: block;
  }
  &__placeholder{
    &::-webkit-input-placeholder{
      font-size: 13px;
      font-family: open_sanslight, sans-serif;
    }
    &::-moz-placeholder{
      font-size: 13px;
      font-family: open_sanslight, sans-serif;
    }
    &:-moz-placeholder{
      font-size: 13px;
      font-family: open_sanslight, sans-serif;
    }
    &:-ms-input-placeholder{
      font-size: 13px;
      font-family: open_sanslight, sans-serif;
    }
  }
  &__input{
  width: 180px;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #d6d5d3;
  background: #fafbfc;
  border-radius: 5px;
  color: #888;
  outline:none;
  }
  &__textarea{
    overflow: auto;
    width: 390px;
    height: 170px;
    resize: none;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  &__captcha{
    width: 400px;
    height: 60px;
    background: #fafbfc;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 40px;
  }
  &__submit{
    margin-right: 98px;
    background-color: #61cfb0;
    background-image:
      linear-gradient(
        to top,
        #43b796 0%,
        #80e8cb 100%);
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(9, 9, 9, 0.16),
          inset 0 1px 0 rgba(255, 255, 255, 0.3);
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    color: #1d7465;
    &:hover{
      background-color: #4cbda1;
      background-image:
        linear-gradient(
          to top,
          #3aa087 0%,
          #5fdcbd 100%);
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
      color: #1e7465;
    }
    &:active{
      background-color: #34927b;
      background-image:
        linear-gradient(to top,
          #257662 0%,
          #4bbca1 100%);
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.9px 0 #666565;
      color: #eeedec;
    }
  }
  &__reset{
    background-color: #f4f2f2;
    background-image:
      linear-gradient(to top,
        #e9e6e4 0%,
        #fbf9f9 94%,
        #fff 100%);
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07),
          inset 0 -2px 3px rgba(41, 41, 41, 0.05),
          inset 0 0 3px #f6f7f7;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    color: #737170;
    &:hover{
      background-color: #d7d5d5;
      background-image:
        linear-gradient(
          to top,
          #c2c0c0 0%,
          #e3e1e1 86%,
          #e3e1e1 87%,
          #e8e7e7 100%);
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      box-shadow: inset 0 -2px 1px rgba(41, 41, 41, 0.04),
                  inset 0 0 3px rgba(202, 202, 202, 0.61);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
      color: #737170;
    }
    &:active{
      background-color: #8f8b8b;
      background-image:
        linear-gradient(
          to top,
          #7d7979 0%,
          #7d7979 0%,
          #aba9a9 100%);
      border: 1px solid #c5c4c4;
      border-radius: 5px;
      box-shadow: 0 2px 1px rgba(3, 4, 4, 0.22),
            inset 0 1px 0 rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.9px 0 #666565;
      color: #eeedec;
    }
  }
}
.button{
  margin-bottom: 50px;
  text-align: center;
  &__general{
    padding: 8px 23px;
    outline:none;
    font-family: open_sanssemibold, serif;
    font-size: 14px;
    line-height: 22px;
    &:focus{
      border: 1px dotted #000;
    }
  }
}