/*==================   HEADER   ===================*/
.center{
  max-width:1200px;
  min-width: 1200px;
  margin: 0 auto;
  line-height: 90px;
}
.header{
  background: url(../img/hd-bg.jpg) repeat-x;
  margin-bottom: 34px;
  padding: 0 10px;
  border-bottom: 7px solid #fff;
}
.main-header{
  &__left{
    float: left;
    width: 95px;
  }
  &__right{
    float: right;
    max-width: 250px;
  }
  &__logo{
    display: block;
    overflow: hidden;
  }
}
.menu-social{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  margin-right: 9px;
  &__li{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-left: 13px;
  }
  &__btn{
    background: url(../img/sprite.png) -215px 0px no-repeat;
    display: block;
    width: 38px;
    height: 40px;

  }
  &__fb{
    background-position: -16px -70px;
    &:hover{
      background-position: -64px -70px;
    }
  }
  &__vk{
    background-position: -84px -216px;
    &:hover{
      background-position: -132px -216px;
    }
  }
  &__tw{
    background-position: -214px -166px;
    &:hover{
      background-position: -36px -216px;
    }
  }
  &__gh{
    background-position: -5px -135px;
    &:hover{
      background-position: -53px -135px;
    }
  }
}
