/*==================   HEADER   ===================*/
.center{
  max-width:1200px;
  min-width: 960px;
  margin: 0 auto;
  line-height: 90px;
}
.header{
  background: url(../img/hd-bg.jpg) repeat-x;
  min-width: 960px;
}
.main-header{
  &__left{
    float: left;
    width: 250px;
  }
  &__right{
    float: right;
    max-width: 250px;
  }
  &__strip{
    height: 7px;
    background-color: #fff;
  }
}
.menu-social{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  li{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  &__btn{
    background: url(../img/sprite.png) -215px 0px no-repeat;
    display: block;
    width: 38px;
    height: 40px;

  }
  &__fb{
    background-position: -215px -10px;
    margin-left: 15px;
  }
  &__vk{
    background-position: -239px -261px;
    margin-left: 13px;
  }
  &__tw{
    background-position: -267px -201px;
    margin-left: 14px;
  }
  &__gh{
    background-position: -215px -70px;
    margin-left: 12px;
    margin-right: 9px;
  }
}
