/*==================   HEADER   ===================*/
.center{
  max-width:1200px;
  min-width: 1200px;
  margin: 0 auto;
  line-height: 90px;
}
.header{
  background: url(../img/hd-bg.jpg) repeat-x;
  margin-bottom: 34px;
  padding: 0 10px;
  border-bottom: 7px solid #fff;
}
.main-header{
  &__left{
    float: left;
    width: 250px;
  }
  &__right{
    float: right;
    max-width: 250px;
  }
}
.menu-social{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  li{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  &__btn{
    background: url(../img/sprite.png) -215px 0px no-repeat;
    display: block;
    width: 38px;
    height: 40px;

  }
  &__fb{
    background-position: -73px -5px;
    margin-left: 15px;
    &:hover{
      background-position: -121px -5px;
    }
  }
  &__vk{
    background-position: -184px -86px;
    margin-left: 13px;
    &:hover{
      background-position: -184px -136px;
    }
  }
  &__tw{
    background-position: -136px -134px;
    margin-left: 14px;
    &:hover{
      background-position: -188px -5px;
    }
  }
  &__gh{
    background-position: -30px -55px;
    margin-left: 12px;
    margin-right: 9px;
    &:hover{
      background-position: -78px -55px;
    }
  }
}
