/*============ Main-inf section ============*/

/*++++++++++ Info Section ++++++++++*/
.main-inf{
  margin-bottom: 35px;
}
.main{
  &__section{
    min-width: 650px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f7f6f5;
    background-image:
    linear-gradient(to bottom,
      #f7f6f5 0%,
      #f0eeed 100%);
  }
  &__title{
    background-color: #929090;
    background-image:linear-gradient(
      to bottom,
      #a9a7a7 0%,
      #7b7979 100%);
    border-bottom: 1px solid #636363;
    margin-bottom: 38px;
    color: #eeedec;
    font-size: 24px;
    line-height: 0.91;
    font-family: open_sanssemibold, sans-serif;
    padding: 16px 0 17px 43px;
    text-shadow:1px 0 1px #666565,
                -1px 0 1px #666565,
                0 1px 1px #666565;
    margin: 0;
  }
}

.info{
  margin-bottom: 35px;
  &__foto{
    float: left;
    width: 226px;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;

    img{
      border-radius: 50%;
      border: 10px solid #f5f4f3;
      box-shadow: 1px 1px 0 0 #d8d6d5,
                  1px -1px 0 0 #d8d6d5,
                  -1px 1px 0 0 #d8d6d5,
                  -1px -1px 0 0 #d8d6d5;
    }
  }
  &__text{
    float: right;
    width: 420px;
  }
}
.description{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 1;
  color: #727070;
  &__item{
    margin-bottom: 11px;
    font-family: open_sansregular, sans-serif;
  }
  &__spec{
    margin-bottom: 20px;
  }
  &__skill{
    margin-bottom: 14px;
  }
  &__image{
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    left: 145px;
    top: -15px;
    width: 235px;
  }
  &__li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
    font-family: open_sanssemibold, sans-serif;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: url(../img/sprite.png) -22px -5px no-repeat;
      width: 10px;
      height: 20px;
    }
    &:after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: url(../img/sprite.png) -5px -5px no-repeat;
      width: 9px;
      height: 20px;
      position: relative;
      left: -2px;
    }
  }
  &__span{
      font-size: 9px;
      line-height: 1.6866;
      display: inline-block;
      vertical-align: top;
      font-family: open_sansbold, sans-serif;
      text-transform: uppercase;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 2px;
      padding-bottom: 3px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
      color: #1e7465;
      background: url(../img/center.png) repeat-x;
    }
}

.for-me{
    font-family: open_sanssemibold, sans-serif;
    margin-right: 5px;
  }




/*+++++++++ Experience Section +++++++++*/



.exp{
  margin-bottom: 39px;
  &__title{
    margin-bottom: 5px;
  }
  &__descr{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}


.job{
  position: relative;
  font-size: 14px;
  padding: 27px 0;
  color: #727070;
  border-top: 1px solid #edeceb;
  border-bottom: 1px solid #dbdbda;
  margin: 0 40px 0 40px;
  padding-left: 95px;
  &:before{
    content: "";
    background: url(../img/sprite.png) -145px -5px no-repeat;
    width: 21px;
    height: 19px;
    display: block;
    position: absolute;
    left: 17px;
    top: 50%;
    margin-top: -4px;
    z-index: 2;
  }
  &:after{
    content: "";
    width: 55px;
    height: 55px;
    background: #f7f7f7;
    box-shadow: -1px -1px 1px #cfcfcf;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -22.5px;
  }
  &__des{
    display: inline-block;
    line-height: 1.5;
    font-family: open_sanssemibold, sans-serif;

  }
  &__date{
    display: inline-block;

  }
  &:first-child{
    border-top: none;
  }
  &:last-child{
    border-bottom: none;
  }
}



/*++++++++++ Education Section ++++++++++*/



.edu{
  &__title{
    margin-bottom: 5px;
  }
}
.edu-work{
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  list-style-type: none;
  color: #727070;
  &__edu1{
    &:before{
      content: "";
      background: url(../img/sprite.png) -5px -200px no-repeat;
      width: 21px;
      height: 21px;
      position: absolute;
      left: 18px;
      top: 50%;
      margin-top: -6px;
      z-index: 2;
    }
  }
  &__edu2{
     &:before{
      content: "";
      background: url(../img/sprite.png) -45px -5px no-repeat;
      width: 27px;
      height: 18px;
      position: absolute;
      left: 14px;
      top: 50%;
      margin-top: -4px;
      z-index: 2;
    }
  }
  &__loftschool{
     &:before{
      content: "";
      background: url(../img/sprite.png) -112px -70px no-repeat;
      width: 15px;
      height: 20px;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -4px;
      z-index: 2;
    }
  }
}

.learn{
  position: relative;
  font-size: 14px;
  padding: 27px 0;
  border-top: 1px solid #edeceb;
  border-bottom: 1px solid #dbdbda;
  margin: 0 40px 0 40px;
  padding-left: 95px;
  &:after{
    content: "";
    width: 55px;
    height: 55px;
    background: #f7f7f7;
    box-shadow: -1px -1px 1px #cfcfcf;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -22.5px;
  }
  &__des{
    display: block;
    line-height: 1.5;
    font-family: open_sanssemibold, sans-serif;
  }
  &__date{
    display: block;

  }
  &:first-child{
    border-top: none;
  }
  &:last-child{
    border-bottom: none;
  }
}

