.mywork{
  margin: 0 10px 50px 40px;
  font-size: 0;
  &__pic{
    position: relative;
    display: block;
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover:before{
        background: rgba(111, 109, 109 , 0.7);
      }
      &:after{
        content: "";
        transition:opacity 2s;
        opacity: 0;
      }
      &:hover:after{
        content: "Подробнее";
        position: absolute;

        display: block;
        width: 158px;
        margin: 0 auto;
        top: 50%;
        text-align: center;
        font-size: 16px;
        padding: 5px 0;
        margin-top: -13px;
        line-height: 1;
        font-family: open_sanssemibold, sans-serif;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        color:rgb(255, 255, 255);
        opacity: 1;
      }
  }
  &__block{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 165px;
    margin-right: 35px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(9, 9, 9, 0.1);
    overflow: hidden;
    margin-top: 30px;
  }
  &__title{
    background: rgba(111, 109, 109, 0.1);
    text-align: center;
    margin: 0;
    padding: 8px 0;
    font-size: 13.35px;
    font-family: open_sanssemibold, sans-serif;
    line-height: 1.69;
    color: #727070;
  }
  &__descr{
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    padding:0;
    margin-top:5px;
    font-family: open_sanslight, sans-serif;
    color: #727070;
  }
}
.work-title{
  margin-bottom: 8px;
}
.add-project{
    color: #727070;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 25px;
    font-family: open_sanssemibold, sans-serif;
    margin-bottom: 25px;
    text-decoration: none;
    display: inline-block;
  &:before{
      content: "";
      background: #f7f7f7 url(../img/polaroid.png) 50% 50%no-repeat;
      width: 55px;
      height: 55px;
      display: block;
      box-shadow: -1px -1px 1px #cfcfcf;
      border-radius: 50%;
      margin: 25px auto 10px auto;
    }
}