/*========== Main Navigation ==========*/

/*++++++++++ Menu ++++++++++*/

.main-menu{
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  box-shadow:0 2px 3px -1px #b8b8b8;
  margin-bottom: 35px;
  &__item{
    text-decoration: none;
    display: block;
    padding: 17px 0 17px 29px;
    font-size: 20px;
    line-height: 1.1;
    font-family: open_sanssemibold, sans-serif;
    color: #727070;
    background-color: #f1efee;
    background-image:
    linear-gradient(
      to top,
      rgb(233,230,229) 0%,
      rgb(251,249,249) 94%,
      rgb(255,255,255) 100%);
    box-shadow:
      0px 2px 1px 0px
      rgba(9, 9, 9, 0.07),
      inset 0px -2px 3px 0px
      rgba(41, 41, 41, 0.05);

    &:hover{
      background-image:
      linear-gradient(
        to bottom,
        rgb(194,192,192) 0%,
        rgb(227,225,225)87%,
        rgb(230,228,228) 90%,
        rgb(232,231,231) 100%);
    }
    &--active{
      background-color: #5fd1b5;
      background-image:
      linear-gradient(
        to top,
        rgb(62,183,153) 0%,
        rgb(126,232,206) 100%);
      color: #1e7465;
        &:hover{
          background-image:
          linear-gradient(
            to top,
            rgb(62,183,153) 0%,
            rgb(126,232,206) 100%);
          box-shadow:
            0px 2px 1px 0px
            rgba(9, 9, 9, 0.16),
            inset 0px 1px 0px 0px
            rgba(255, 255, 255, 0.3);
          color: #1e7465;
        }
     }
  }
}



/*++++++++++ Contacts ++++++++++*/



.contacts{
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  border: 1px solid #d4d3d1;
  border-top: none;
  overflow: hidden;
  box-shadow:0 2px 3px -1px #b8b8b8;
  &__title{
    font-size: 20px;
    line-height: 1.1;
    font-family: open_sanssemibold, sans-serif;
    color: #d0982c;
    text-shadow:0 1px 0 #efd6a4;
    padding: 8px 10px 8px 28px;
    background-color: #eac171;
    background-image:
      linear-gradient(
      to top,
      rgb(220,177,93) 0%,
      rgb(244,204,126) 90%);
    border: 1px solid #cba14e;
    border-radius: 7px 7px 0 0;
  }
  &__descr{
    font-size: 14px;
    text-decoration: none;
    color: #727070;
    display: block;
    padding: 8px 10px 8px 97px;
    position: relative;
    font-family: open_sansregular, sans-serif;
    &:before{
      content:"";
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left:18px;
    }
    &:hover{
      background-color: #f6edde;
      text-decoration: underline;
      background-image:
        linear-gradient(
        to bottom,
        #ffffff 0%,
        #fbf9f3 50%,
        #f2e7d0 100%);
    }
  }
  &__mail{
    border: 1px solid rgb(214, 213, 211);
    border-bottom: none;
    background-color: #fdfcfc;
    background-image:
      linear-gradient(
        to bottom,
        #ffffff 0%,
        #f7f6f6 100%);
    &:before{
      content:"";
      background: url(../img/sprite.png) -126px -86px no-repeat;
    }
  }
  &__tel{
    border:1px solid rgb(214, 213, 211);
    border-bottom: none;
    background-color: #fdfcfc;
    background-image:
      linear-gradient(
        to bottom,
        #ffffff 0%,
        #f7f6f6 100%);

    &:before{
      content:"";
      background: url(../img/sprite.png) -86px -134px no-repeat;
    }
  }
  &__skype{
    border:1px solid rgb(214, 213, 211);
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    background-color: #fdfcfc;
    background-image:
    linear-gradient(
        to bottom,
        #ffffff 0%,
        #f7f6f6 100%);
    &:before{
      content:"";
      background: url(../img/sprite.png) -36px -134px no-repeat;
    }
  }
}

