.popup{
  width: 320px;
  padding: 10px 22px 30px 20px;
  border-radius: 5px;
  margin: 0 auto;
  background: #fbfaf9;
  background-image:
      linear-gradient(
        to bottom,
        #fbfaf9 0%,
        #f0eeed 100%);
  left:0;
  right:0;
  position:fixed;
  top:50%;
  margin-top: -230px;
  &:before{
    content: "Добавление проекта";
    position: absolute;
    top:-20px;
    color: #e1e0df;
    display: block;
    font-family: 'open_sanslight', serif;
    font-size: 12px;
  }
  &__general{
    display: block;
  }
  &__close{
    text-indent: -9999px;
    background:url(../img/close.png) 0 0 no-repeat;
    position: absolute;
    right: 7px;
    top: 7px;
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  &__label{
    font-family: 'open_sansregular', serif;
    font-size: 14px;
    padding: 9px 0;
    color: #848282;
  }
  &__input{
    font-family: 'open_sanslight', serif;
    font-size: 12px;
    padding: 10px 10px;
    width: 300px;
    border: 1px solid #d6d5d3;
    border-radius: 3px;
    outline: none;
    color: #848270;
    background: #fbfcfd;
  }
  &__textarea{
    overflow: auto;
    resize: none;
    height: 88px;
    margin-bottom: 13px;
  }
  &__button{
    padding: 8px 25px;
    outline:none;
    font-family: open_sanssemibold, serif;
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin: 0 auto;
    &:focus{
      border: 1px dotted #000;
    }
  }
  &__submit{
    background-color: #61cfb0;
    background-image:
      linear-gradient(
        to top,
        #43b796 0%,
        #80e8cb 100%);
    border: 1px solid #c3c2c2;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(9, 9, 9, 0.16),
          inset 0 1px 0 rgba(255, 255, 255, 0.3);
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
    color: #1d7465;
    &:hover{
      background-color: #4cbda1;
      background-image:
        linear-gradient(
          to top,
          #3aa087 0%,
          #5fdcbd 100%);
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.75);
      color: #1e7465;
    }
    &:active{
      background-color: #34927b;
      background-image:
        linear-gradient(to top,
          #257662 0%,
          #4bbca1 100%);
      border: 1px solid #c3c2c2;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.9px 0 #666565;
      color: #eeedec;
    }
  }
  &__title{
    position: absolute;
top: -45px;
left: 20px;
color: #000;
  }
}

.downpic{
    font-family: 'open_sansregular', serif;
    font-size: 14px;
    padding: 10px 0 0 0;
    color: #848282;
  &__label{

    position: relative;
    font-family: 'open_sanslight', serif;
    font-size: 12px;
    margin:10px 0 0 0;
    padding: 0;
    width: 320px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    color: #848270;
    background: #fbfcfd;
  }
  &__descr{
    padding: 10px 10px;
    display:block;
    border: 1px solid #d6d5d3;
    border-right: none;
    float: left;
    width: 242px;
    border-radius: 3px 0 0 3px;

  }
  &__pic{
    background:#f8f6f6 url("../img/iCloud.png") 50% 50% no-repeat;
    width:55px;
    height:16px;
    padding: 10px 0;
    display: inline-block;
    float: right;
    border: 1px solid #d6d5d3;
    border-radius: 0 3px 3px 0;
  }
  &__input{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'open_sanslight', serif;
    font-size: 12px;
    padding: 10px 10px;
    width: 300px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }
}
.popup-wrapper{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.6);
  overflow:hidden;
  position:fixed;
  top:0px;
  display: table;
}

.popup-hide{
  display: none;
}